# Objective 

This notebook collects the data about the global number of cases and then merges it with the existising dataset, Global COVID-19 cases.

In [38]:
import numpy as np
import pandas as pd

In [39]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/04-01-2020.csv'

In [40]:
df = pd.read_csv(url, error_bad_lines=False)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2483 entries, 0 to 2482
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FIPS            2171 non-null   float64
 1   Admin2          2221 non-null   object
 2   Province_State  2307 non-null   object
 3   Country_Region  2483 non-null   object
 4   Last_Update     2483 non-null   object
 5   Lat             2482 non-null   float64
 6   Long_           2482 non-null   float64
 7   Confirmed       2483 non-null   int64
 8   Deaths          2483 non-null   int64
 9   Recovered       2483 non-null   int64
 10  Active          2483 non-null   int64
 11  Combined_Key    2483 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 232.9+ KB

In [42]:
df.groupby('Country_Region')['Confirmed'].sum()[130:]

Country_Region
Paraguay                                69
Peru                                  1323
Philippines                           2311
Poland                                2554
Portugal                              8251
Qatar                                  835
Romania                               2460
Russia                                2777
Rwanda                                  82
Saint Kitts and Nevis                    8
Saint Lucia                             13
Saint Vincent and the Grenadines         1
San Marino                             236
Saudi Arabia                          1720
Senegal                                190
Serbia                                1060
Seychelles                              10
Sierra Leone                             2
Singapore                             1000
Slovakia                               400
Slovenia                               841
Somalia                                  5
South Africa                          1380
Spain                               104118
Sri Lanka                              146
Sudan                                    7
Suriname                                10
Sweden                                4947
Switzerland                          17768
Syria                                   10
Taiwan*                                329
Tanzania                                20
Thailand                              1771
Timor-Leste                              1
Togo                                    36
Trinidad and Tobago                     90
Tunisia                                423
Turkey                               15679
US                                  213372
Uganda                                  44
Ukraine                                794
United Arab Emirates                   814
United Kingdom                       29865
Uruguay                                338
Uzbekistan                             181
Venezuela                              143
Vietnam                                218
West Bank and Gaza                     134
Zambia                                  36
Zimbabwe                                 8
Name: Confirmed, dtype: int64

In [43]:
dates = np.full(len(df), '4/1/20')

In [44]:
df2 = df.drop(['FIPS', 'Last_Update', 'Admin2', 'Combined_Key', 'Recovered', 'Active'], axis = 1)
df2.rename(columns = {'Country_Region': 'Country/Region', 'Long_': 'Long', 'Province_State': 'Province/State'}, inplace = True)

In [45]:
df2.insert(4, 'Date', dates)
df2

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths
0,South Carolina,US,34.223334,-82.461707,4/1/20,4,0
1,Louisiana,US,30.295065,-92.414197,4/1/20,47,1
2,Virginia,US,37.767072,-75.632346,4/1/20,7,0
3,Idaho,US,43.452658,-116.241552,4/1/20,195,3
4,Iowa,US,41.330756,-94.471059,4/1/20,1,0
...,...,...,...,...,...,...,...
2478,NaN,Venezuela,6.423800,-66.589700,4/1/20,143,3
2479,NaN,Vietnam,14.058324,108.277199,4/1/20,218,0
2480,NaN,West Bank and Gaza,31.952200,35.233200,4/1/20,134,1
2481,NaN,Zambia,-13.133897,27.849332,4/1/20,36,0
2482,NaN,Zimbabwe,-19.015438,29.154857,4/1/20,8,1

In [46]:
df2.replace({'Korea, South': 'South Korea'}, inplace = True)

In [47]:
df2.to_csv('D:/BDS Docs/Year 1/Internship/Covid Data/Global COVID-19 Cases.csv', mode = 'a', header = False, index = False)