# Objective 

This notebook collects the data about the global number of cases and then merges it with the existising dataset, Global COVID-19 cases.

In [62]:
import numpy as np
import pandas as pd

In [63]:
d = '31'
m = '05'
url = f'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/{m}-{d}-2020.csv'

In [64]:
df = pd.read_csv(url, error_bad_lines=False)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 14 columns):
FIPS                   3018 non-null float64
Admin2                 3022 non-null object
Province_State         3351 non-null object
Country_Region         3526 non-null object
Last_Update            3526 non-null object
Lat                    3455 non-null float64
Long_                  3455 non-null float64
Confirmed              3526 non-null int64
Deaths                 3526 non-null int64
Recovered              3526 non-null int64
Active                 3526 non-null int64
Combined_Key           3526 non-null object
Incidence_Rate         3455 non-null float64
Case-Fatality_Ratio    3468 non-null float64
dtypes: float64(5), int64(4), object(5)
memory usage: 385.8+ KB

In [66]:
df.groupby('Country_Region')['Confirmed'].sum()[130:]

Country_Region
Pakistan                              69496
Panama                                13463
Papua New Guinea                          8
Paraguay                                986
Peru                                 164476
Philippines                           18086
Poland                                23786
Portugal                              32500
Qatar                                 56910
Romania                               19257
Russia                               405843
Rwanda                                  370
Saint Kitts and Nevis                    15
Saint Lucia                              18
Saint Vincent and the Grenadines         26
San Marino                              671
Sao Tome and Principe                   483
Saudi Arabia                          85261
Senegal                                3645
Serbia                                11412
Seychelles                               11
Sierra Leone                            861
Singapore                             34884
Slovakia                               1521
Slovenia                               1473
Somalia                                1976
South Africa                          32683
South Sudan                             994
Spain                                239479
Sri Lanka                              1633
Sudan                                  5026
Suriname                                 23
Sweden                                37542
Switzerland                           30862
Syria                                   122
Taiwan*                                 442
Tajikistan                             3930
Tanzania                                509
Thailand                               3081
Timor-Leste                              24
Togo                                    442
Trinidad and Tobago                     117
Tunisia                                1077
Turkey                               163942
US                                  1790172
Uganda                                  417
Ukraine                               23672
United Arab Emirates                  34557
United Kingdom                       276156
Uruguay                                 823
Uzbekistan                             3623
Venezuela                              1510
Vietnam                                 328
West Bank and Gaza                      448
Western Sahara                            9
Yemen                                   323
Zambia                                 1057
Zimbabwe                                178
Name: Confirmed, dtype: int64

In [67]:
dates = np.full(len(df), f'{int(m)}/{int(d)}/20')

In [68]:
df2 = df.drop(['FIPS', 'Last_Update', 'Admin2', 'Combined_Key', 'Recovered', 'Active', 'Incidence_Rate', 'Case-Fatality_Ratio'], axis = 1)
df2.rename(columns = {'Country_Region': 'Country/Region', 'Long_': 'Long', 'Province_State': 'Province/State'}, inplace = True)

In [69]:
df2.insert(4, 'Date', dates)
df2

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths
0,South Carolina,US,34.223334,-82.461707,5/31/20,42,0
1,Louisiana,US,30.295065,-92.414197,5/31/20,418,23
2,Virginia,US,37.767072,-75.632346,5/31/20,909,12
3,Idaho,US,43.452658,-116.241552,5/31/20,812,22
4,Iowa,US,41.330756,-94.471059,5/31/20,9,0
...,...,...,...,...,...,...,...
3521,NaN,West Bank and Gaza,31.952200,35.233200,5/31/20,448,3
3522,NaN,Western Sahara,24.215500,-12.885800,5/31/20,9,1
3523,NaN,Yemen,15.552727,48.516388,5/31/20,323,80
3524,NaN,Zambia,-13.133897,27.849332,5/31/20,1057,7
3525,NaN,Zimbabwe,-19.015438,29.154857,5/31/20,178,4

In [70]:
df2.replace({'Korea, South': 'South Korea'}, inplace = True)

In [71]:
df2.to_csv('D:/BDS Docs/Year 1/Internship/Covid Data/Global COVID-19 Cases.csv', mode = 'a', header = False, index = False)